{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<button class="ui mute"><img src="images/icon-unmute.svg" title="Toggle mute"></button>
<button class="enter-vr"><img src="images/icon-cardboard.svg" title="Toggle VR"></button>
<button class="reset-pose"><img src="images/icon-reset-pose.svg" title="Reset pose"></button>
<a href="https://vr.chromeexperiments.com/" class="ui badge" target="_blank"><img src="images/webvr-badge.svg"></a>
<div class="rotate-phone-screen">
  <div class="phone-container">
    <div class="phone-inner">
      <img class="phone" src="images/rotate-screen/phone.svg">
      <img class="x" src="images/rotate-screen/x.svg">
      <img class="checkmark" src="images/rotate-screen/checkmark.svg">
    </div>
  </div>
</div>
<div class="intro-wrapper">
  <div class="transition-color-screen pink"></div>
  <div class="transition-color-screen blue"></div>
  <div class="transition-color-screen green"></div>
  <div class="intro-screen">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#4332A5;}
      .st1{fill:#392B8E;}
      .st2{fill:#1C1A54;}
      .st3{fill:#BEC0CC;}
      .st4{fill:#AFB2BC;}
      .st5{fill:#302575;}
      .st6{fill:#F9FC56;}
    </style>
    <g id="Layer_1">
      <polygon id="panel-light" class="st0" points="0,1080 1222.1,1080 1620.2,850.2 1009.9,497.8 	"/>
      <polygon id="panel-dark" class="st1" points="147.7,0 0,0 0,1080 1009.9,497.8 	"/>
      <polygon id="panel-side" class="st2" points="1620.2,850.2 1222.1,1080 1222.1,1080 1620.2,1080 	"/>
      <polygon id="lines-light" class="st3" points="1462.1,758.9 1009.9,497.8 986.5,511.3 1573.5,850.2 1175.4,1080 1222.1,1080
        1620.2,850.2 	"/>
      <polygon id="lines-dark" class="st4" points="0,595.5 0,622.9 591,282.9 986.5,511.3 1009.9,497.8 147.7,0 101,0 568,269.6"/>
      <ellipse id="ball-shadow" class="st2" cx="3205.4" cy="829.8" rx="85.6" ry="41.2"/>
      <polygon id="top-mask" class="st5" points="1920,0 147.7,0 1620.2,850.2 1620.2,1080 1920,1080 	"/>
    </g>
    </svg>
    <div class="inner">
      <header>
        <h1>Konterball</h1>
        <span class="loading-text-overlay">Konterball</span>
      </header>
      <p>
        <span class="no-break">a 2-player virtual reality game,</span>
        <span class="no-break">built for the web</span>
      </p>
      <button class="btn" id="start">Let’s Go</button>
    </div>
    </svg>
    <svg class="ball-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid slice" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
      <circle id="ball" class="st6" cx="-1205.4" cy="637" r="60"/>
    </svg>
    <button class="about-button btn ui">About</button>
    <a href="https://wild.as/" target="_blank" class="ui wild-logo"><img src="images/logo-wild.svg"></a>
  </div>

  <div class="choose-mode-screen">
    <div class="one-player-col">
      <div id="singleplayer-animation"></div>
      <div class="buttons">
        <button class="btn" id="start-singleplayer">Start Game</button>
      </div>
    </div>
    <div class="two-player-col">
      <div id="multiplayer-animation"></div>
      <div class="buttons">
        <button class="btn" id="open-room">New Game</button>
        <button class="btn" id="join-room">Join Game</button>
      </div>
    </div>
    <button class="about-button btn">About</button>
    <a href="https://wild.as/" target="_blank" class="ui wild-logo"><img src="images/logo-wild.svg"></a>
  </div>

  <div class="open-room-screen">
    <div class="inner">
      <input type="text" id="generated-room-code" value="" readonly data-clipboard-target="#generated-room-code"><br>
      <p class="grey-text">send code to your opponent</p><br>
      <p class="opponent-joined">connecting to server</p><br>
    </div>
    <button class="back-arrow"><img src="images/icon-arrow.svg"></button>
  </div>

  <div class="join-room-screen">
    <div class="inner">
      <form id="room-form" action="javascript:void(0)">
        <div class="input-wrapper">
          <input required type="text" id="room-code" maxlength="4" autocomplete="off"><br>
          <div class="placeholder">____</div>
        </div>
        <p class="grey-text">type in your code</p><br>
        <button class="btn" id="join-room-button" role="submit" class="inactive">Join Game</button>
      </form>
    </div>
    <button class="back-arrow"><img src="images/icon-arrow.svg"></button>
  </div>

  <div class="choose-vr-mode-screen">
    <div class="inner">
      <div class="tilt">
        <p>We're updating WebVR to WebXR. In the meantime, <span id="tilt"><span class="before"></span><span class="main">check out this experiment in 360</span></span>.
        </p>
      </div>
    </div>
  </div>

  <div class="about-screen">
    <div class="about-inner">
      <h1>Konterball</h1>
      <p>is a 2-player virtual reality game, built for the web, using three.js, cannon.js and deepstream.io.</p>

      <p>Konterball is made by
        <a target="_blank" href="https://wild.as/">wild</a>
        in Vienna with the help of
        <a target="_blank" href="http://www.fifth-music.com/">Fifth Music</a>.
        Follow us on
        <a target="_blank" href="https://www.facebook.com/WILD-657435247617232/">facebook</a>,
        <a target="_blank" href="https://twitter.com/madebywild">twitter</a> &amp;
        <a target="_blank" href="https://www.instagram.com/madebywild/">instagram</a>.
      </p>
      <p>
      <a class="btn" href="https://open.spotify.com/album/27Wb6Hf2DKdfW8Gso65Wte" target="_blank">
        <img src="/images/icon-note.svg"> Listen to the EP on Spotify
      </a>
      </p>
    </div>
    <button class="back-arrow"><img src="images/icon-arrow.svg"></button>
  </div>
</div>

{% endblock %}
