{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class='intro-wrapper'>
  <div class='transition-color-screen pink'></div>
  <div class='transition-color-screen blue'></div>
  <div class='transition-color-screen green'></div>
  <div class='about-button'>About</div>
  <div class='intro'>
    <div>
      <header>
        <h1>Webpong</h1>
        <span class='loading-text-overlay'>Webpong</span>
      </header>
      <p>A 2-player virtual reality game, built for the web</p>
      <button id='start'>Let’s Go</button>
    </div>
  </div>

  <div class='player-mode-chooser'>
    <div class='one-player-col'>
      <h3>One Player</h3>
      <div id='singleplayer-animation'></div>
      <div class='buttons'>
        <button id='start-singleplayer'>Start Game</button>
      </div>
    </div>
    <div class='two-player-col'>
      <h3>Two Player</h3>
      <div id='multiplayer-animation'></div>
      <div class='buttons'>
        <button id='join-room'>Join Game</button>
        <button id='open-room'>New Game</button>
      </div>
    </div>
  </div>

  <div class='open-room-screen'>
    <div>
      <div class='present-players'>
        <img src='images/icon-person.svg'>
        <img class='opponent-icon' src='images/icon-person.svg'>
      </div>
      <input type='text' id='room-url' value='Generating Code...' readonly data-clipboard-target="#room-url"><br>
      <p class='grey-text'>Send Code to your Opponent</p><br>
      <p class='opponent-joined'>Waiting for opponent</p><br>
    </div>
  </div>

  <div class='join-room-screen'>
    <div>
      <div class='present-players'>
        <img src='images/icon-person.svg'>
        <img class='opponent-icon' src='images/icon-person.svg'>
      </div>
      <input type='text' id='room-code' placeholder='____' maxlength='4'><br>
      <p class='grey-text'>Type in your Code</p><br>
      <button id='join-room-button' class='inactive'>Join Game</button>
    </div>
  </div>

  <div class='vr-mode-chooser'>
    <div>
      <h2>Choose Game Mode</h2>
      <div class='options-wrapper'>
        <div class='cardboard' id='cardboard'>
          <img src='/images/cardboard-animation.gif'>
          <p>Phone + Cardboard</p>
        </div>
        <div class='tilt' id='tilt'>
          <img src='/images/tilt-phone.gif'>
          <p>Tilt Phone</p>
        </div>
      </div>
    </div>
  </div>
  <div class='about-screen'>
    <div class='about-inner'>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

</div>

<div class='game-over-screen-wrapper'>
  <div class='game-over-screen'>
    <h2 id='result'>Your opponent won!</h2>
    <button id='play-again'>Play again</button>
    <button id='exit'>Exit</button>
    <div class='share-wrapper'>
      <button id='share-gplus'><img src='images/icon-googleplus.svg'></button>
      <button id='share-fb'><img src='images/icon-facebook.svg'></button>
      <button id='share-twitter'><img src='images/icon-twitter.svg'></button>
      <p class='share-info-text'>Share Result</p>
    </div>
  </div>
</div>
{% endblock %}
