{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="intro">
  <div class='intro-top'>
    virtual reality pong
  </div>
  <h1 class='intro-headline'>Head Pong</h1>
  <div class='intro-bottom'>
    a google chrome experiment made by wild in vienna<br>
    <button id='start-singleplayer'>start singleplayer</button><br>
    <button id='start-multiplayer'>start multiplayer</button>
  </div>
</div>
{% endblock %}
