.DS_Store
.sass-cache
.publish
Desktop.ini
node_modules
**/generated/_icons.sass
npm-debug.log
*.swp
*.repeaks
src/fonts
public/fonts

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions
