files:
#  "/etc/httpd/conf.d/allow_override.conf":
#    mode: "000644"
#    owner: ec2-user
#    group: ec2-user
#    encoding: plain
#    content: |
#      <Directory /var/app/current/public>
#        AllowOverride AuthConfig
#      </Directory>
#
#  "/etc/httpd/conf.d/auth.conf":
#    mode: "000644"
#    owner: ec2-user
#    group: ec2-user
#    encoding: plain
#    content: |
#      <Directory /var/app/current/public>
#        AuthType Basic
#        AuthName "Google Pong Prototype"
#        AuthUserFile /etc/httpd/.htpasswd
#        Require valid-user
#      </Directory>

  "/etc/httpd/.htpasswd":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    encoding: plain
    content: |
      google:pingpong2016