@font-face {
  font-family: 'ATARCC__';
  src: url('ATARCC__.eot');
  src: url('ATARCC__.woff2') format('woff2'),
       url('ATARCC__.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AtariClassicChunky';
  src: url('AtariClassicChunky.woff') format('woff'),
       url('AtariClassicChunky.ttf') format('truetype'),
       url('AtariClassicChunky.svg#AtariClassicChunky') format('svg');
  font-weight: normal;
  font-style: normal;
}

