button:focus, textarea:focus, input:focus{
  outline: none;
}
html {
  font-size: $font-size;
}
body {
  font-family: Futura;
  overflow: hidden;
  background-color: $blue-background;
  color: #fff;
}
.pink {
  background-color: $pink-background;
}
.blue {
  background-color: $blue-background;
}
.green {
  background-color: $green-background;
}
h2 {
  text-transform: uppercase;
  font-size: $font-size-large;
  margin-bottom: 40px;
}
button {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid #fff;
  letter-spacing: 0.15em;
  color: #fff;
}
.futura-italic {
  font-family: FuturaItalic;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.intro-wrapper, .game-over-screen-wrapper {
  @extend .screen;
  background-color: $blue-background;
}
$border-width: 2px;
$margin: calc(100px - 4vw);
$margin: 4vh;
.player-mode-chooser {
  left: -100%;
  @extend .screen;
  h3 {
    font-family: AntiqueOlive;
    font-size: calc(30px + 0.5vw);
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    position: absolute;
    top: 10vh;
    width: 100%;
    letter-spacing: 4px;
    font-weight: normal;
  }
  .one-player-col, .two-player-col {
    width: 50%;
    position: absolute;
    text-align: center;
  }
  .buttons {
    position: absolute;
    width: 100%;
    bottom: 10vh;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 15px;
    h3 {
      font-size: 25px;
    }
  }
  .one-player-col {
    background-color: $pink-background;
    left: 0;
    top: 0;
    height: 100%;
    .inner {
      bottom: $margin;
    }
  }
  .two-player-col {
    background-color: $blue-background;
    right: 0;
    top: 0;
    height: 100%;
    .inner {
      top: $margin * 1.5;
    }
  }
  #singleplayer-animation {
    width: 70%;
    margin: auto;
    @extend .absolute-center;
  }
  #multiplayer-animation {
    width: 85%;
    margin: auto;
    @extend .absolute-center;
  }
}
.about-button {
  display: none;
  z-index: 90;
  position: fixed;
  padding: 15px;
  top: 0;
  right: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.about-screen {
  display: none;
  z-index: 80;
  @extend .screen;
  background-color: $blue-background;
  overflow: scroll;
}
.about-inner {
  text-align: center;
  max-width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
.intro {
  @extend .screen;
  background: url(/images/intro-background.svg) no-repeat center center fixed; 
  background-size: cover;

  header {
    text-transform: uppercase;
    font-size: $font-size-olive;
    font-family: AntiqueOlive;
    font-weight: normal;
    letter-spacing: 0.05em;
    position: relative;
    h1 {
      opacity: 0.4;
      font-size: $font-size-olive;
      font-family: AntiqueOlive;
      font-weight: normal;
    }
    span {
      font-size: $font-size-olive;
      font-family: AntiqueOlive;
      font-weight: normal;
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      padding-left: 10px;
      opacity: 1;
      width: 0%;
      overflow: hidden;
    }
  }

  .inner {
    @extend .absolute-center;
    & > * {
      transform: translateY(70px);
    }
  }
  h1 {
    margin: 0;
  }
  p {
    @extend .futura-italic;
    opacity: 0;
    font-size: calc(15px + 0.8vw);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  #start {
    opacity: 0;
  }
}
.grey-text {
  margin-top: -15px;
  color: $medium-grey;
  @extend .futura-italic;
}
.open-room-screen,
.join-room-screen {
  left: -100%;
  @extend .screen;
  .inner {
    @extend .absolute-center;
    width: 100%;
  }
  width: 100%;
  font-size: 16px;
  input {
    display: block;
    text-align: center;
    margin: auto;
    background-color: transparent;
    font-family: AntiqueOlive;
    border: 0;
    color: #fff;
    padding: 0;
    font-size: $font-size-olive;
    letter-spacing: 0.05em;
    width: 100%;
  }
  #room-code {
    text-transform: uppercase;
  }
}
.open-room-screen {
  background-color: $blue-background;
}
.join-room-screen {
  background-color: $green-background;
}
button.inactive {
  color: $medium-grey;
  border-color: $medium-grey;
}

.present-players img {
  filter: invert(100%);
  width: 30px;
  height: auto;
  margin: 40px 10px;
}
.opponent-icon {
  opacity: 0.3;
}
.exit-arrow,
.back-arrow {
  padding: 20px;
  border: 0;
  left: 0;
  top: 0;
  position: absolute;
}
.game-over-screen-wrapper {
  display: none;
  .game-over-screen {
    width: 100%;
  }
  #result {
    font-family: AntiqueOlive;
    font-size: $font-size-olive;
    display: block;
    margin-top: 0;
  }
  .share-info-text {
    @extend .futura-italic;
    text-transform: uppercase;
    color: $medium-grey;
  }
  #play-again, #exit {
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .share-wrapper {
    margin-top: 50px;
    button {
      border: 0;
      padding: 0;
      img {
        width: 50px;
        filter: invert(100%);
      }
    }
  }
}
.game-over-screen {
  @extend .absolute-center;
}
.vr-mode-chooser {
  display: none;
  @extend .screen;
  .inner {
    @extend .absolute-center;
    width: 100%;
    z-index: 50;
    padding-left: 15px;
    padding-right: 15px;
  }
  .options-wrapper {
    display: flex;
    align-items: stretch;
    & > div {
      cursor: pointer;
      flex-direction: row;
      flex: 50%;
      flex-shrink: 1;
      position: relative;
    }
  }
  .tilt img {
    display: block;
  }
  p {
    width: 100%;
    text-align: center;
  }
  img {
    height: auto;
    display: block;
    width: 50%;
    margin: auto;
  }
}
.transition-color-screen {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
}
