html {
  font-size: $font-size;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
body {
  font-family: Futura;
  overflow: hidden;
  background-color: $blue-background;
  height: 100vh;
  // +80 to enable ios users to scroll up and down to view/hide the menu bar
  // disable for now
  // padding-bottom: 80px;
  color: #fff;
}
a,
a:visited,
a:active,
a:focus {
  color: #fff;
  text-decoration: underline;
}
.pink {
  background-color: $pink-background;
}
.blue {
  background-color: $blue-background;
}
.green {
  background-color: $green-background;
}
.futura-italic {
  font-family: FuturaItalic;
}
h2 {
  text-transform: uppercase;
  font-size: $font-size-large;
  margin-bottom: 40px;
  font-weight: normal;
}
button {
  background-color: transparent;
  cursor: pointer;
}
button.btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 30px;
  border: 2px solid #fff;
  letter-spacing: 0.15em;
  color: #fff;
  margin-top: 15px;
  padding: 22px 32px;
  padding-top: 24px;
  font-size: 12px;
}
@media screen and (max-width: $breakpoint-mobile-max) {
  button.btn {
    padding: 16px 25px;
    padding-top: 17px;
  }
}
button:focus, textarea:focus, input:focus{
  outline: none;
}
button.inactive {
  color: $medium-grey;
  border-color: $medium-grey;
}
.game-over-screen-wrapper,
.intro-wrapper {
  @extend .screen;
  z-index: 2;
}
.game-over-screen-wrapper {
  z-index: 20;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.screen {
  position: fixed;
  width: 100%;
  height: calc(100vh + 1px);
  top: 0;
  left: 0;
  overflow: hidden;
}
button.btn.about-button {
  z-index: 90;
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  @media screen and (max-width: $breakpoint-mobile-max) {
    padding-right: 15px;
    padding-top: 15px;
  }
}
.grey-text {
  margin-top: -15px;
  color: $medium-grey;
  @extend .futura-italic;
}
.mute {
  padding: 20px;
  padding-bottom: 13px;
  border: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  img {
    width: 25px;
    height: auto;
  }
  @media screen and (max-width: $breakpoint-mobile-max) {
    padding-left: 15px;
    padding-bottom: 8px;
    img {
      width: 20px;
    }
  }
}
.exit-arrow,
.back-arrow {
  padding: 18px;
  border: 0;
  left: 0;
  top: 0;
  position: absolute;
  img {
    width: 25px;
    height: auto;
  }
  @media screen and (max-width: $breakpoint-mobile-max) {
    padding-left: 15px;
    padding-top: 13px;
    img {
      width: 20px;
    }
  }
}
.transition-color-screen {
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
}
.webvr-button {
  position: fixed;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-color: transparent;
  border: 0;
  user-select: none;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
  display: none;
  box-sizing: content-box;
}
.fullscreen-button {
  bottom: 0;
  right: 0;
}
