@include font-face('AntiqueOlive', '/fonts/AntiqueOlive');
@include font-face('Futura', '/fonts/Futura');
@include font-face('FuturaItalic', '/fonts/FuturaItalic');

$font-size: 20px;
$font-size-large: 24px;
$font-size-olive: calc(30px + 5vw);

// colors
$dark-grey: #262626;
$medium-grey: rgba(255, 255, 255, 0.5);
$ball: #f9fc56;

$breakpoint-mobile: 768px;

$pink-light: #fdb1b1;
$pink-background: #ff9c9c;
$pink-dark: #f29191;
$green-light: #4fcd8d;
$green-background: #32c275;
$green-dark: #1f8e61;
$blue-light: #27679e;
$blue-background: #1e4b87;
$blue-dark: #0d375c;
$ball: #f9fc56;
