@include font-face('AntiqueOlive', '/fonts/AntiqueOlive');
@include font-face('FuturaItalic', '/fonts/FuturaItalic');

$font-size: 20px;
$font-size-large: 24px;
$font-size-olive: calc(30px + 0vw);

// colors
$dark-grey: #262626;
$medium-grey: rgba(255, 255, 255, 0.5);
$ball: #f9fc56;

$breakpoint-mobile-min: 768px;
$breakpoint-mobile-max: $breakpoint-mobile-min - 1;

$pink-background: #ffa3b0;
$green-background: #47b18b;
$blue-background: #2f2475;
$ball: #f9fc56;


$blue-inactive: #4a3eb9;
$green-inactive: #71dba7;
