{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Origin Trial Token, feature = WebVR (For Chrome M59+), origin = https://konterball.com, expires = 2017-11-14 -->
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M59+)" data-expires="2017-11-14" content="AnE54QtE0QhlwTNnwZSn/tikF7X2aKyNTXlzq2mgB7lKAOWGvXLv9YQTCiGz2DMoVPYKh2qnfcnkoWSvtHIX3A4AAABQeyJvcmlnaW4iOiJodHRwczovL2tvbnRlcmJhbGwuY29tOjQ0MyIsImZlYXR1cmUiOiJXZWJWUjEuMSIsImV4cGlyeSI6MTUxMDYxNzYwMH0=">


    <meta property="og:url" content="https://konterball.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Konterball" />
    <meta property="og:description" content="A 2-player virtual reality game, built for the web" />
    <meta property="og:image" content="https://konterball.com/images/share/fb-share-blue.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Konterball" />
    <meta name="twitter:description" content="A 2-player virtual reality game, built for the web" />
    <meta name="twitter:image" content="https://konterball.com/images/share/fb-share-blue.jpg" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block javascript %}
      <script>
        WebVRConfig = {
          MOUSE_KEYBOARD_CONTROLS_DISABLED: true,
          ROTATE_INSTRUCTIONS_DISABLED: true,
          BUFFER_SCALE: 1,
        };
      </script>
      <script src="lib/cannon.js"></script>
      <script src="lib/webvr-polyfill.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-92285671-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
