$border-width: 2px;
$margin: calc(100px - 4vw);
$margin: 4vh;
.choose-mode-screen {
  left: -100%;
  @extend .screen;
  h3 {
    font-family: AntiqueOlive;
    font-size: calc(30px + 0.5vw);
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    position: absolute;
    top: 10vh;
    width: 100%;
    letter-spacing: 4px;
    font-weight: normal;
  }
  .one-player-col, .two-player-col {
    width: 50%;
    position: absolute;
    text-align: center;
  }
  .buttons {
    position: absolute;
    width: 100%;
    bottom: 10vh;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 15px;
    h3 {
      font-size: 25px;
    }
  }
  .one-player-col {
    background-color: $pink-background;
    left: 0;
    top: 0;
    height: 100%;
    .inner {
      bottom: $margin;
    }
  }
  .two-player-col {
    background-color: $blue-background;
    right: 0;
    top: 0;
    height: 100%;
    .inner {
      top: $margin * 1.5;
    }
  }
  #singleplayer-animation {
    width: 70%;
    margin: auto;
    @extend .absolute-center;
  }
  #multiplayer-animation {
    width: 85%;
    margin: auto;
    @extend .absolute-center;
  }
}
