.choose-vr-mode-screen {
  display: none;
  @extend .screen;
  .inner {
    @extend .absolute-center;
    width: 100%;
    z-index: 50;
    padding-left: 15px;
    padding-right: 15px;
  }
  p {
    width: 100%;
    text-align: center;
  }
  font-style: italic;
  letter-spacing: 0.05em;
  .cardboard {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 24px;
    cursor: pointer;
    line-height: 1.4em;
  }
  .tilt {
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
  }
  img {
    height: auto;
    display: block;
    width: 30%;
    margin: auto;
  }
}
